#wrapper.stop
  .navigation
    = link_to "home", root_path
    - if @from
      %span.sep -
      = link_to "#{@from} line", line_path(@from)
  %a.favorite{href: "#"}
    .text
      favorite
    .icon
  %h1= @stop[:name]
  .lines
    - @stop[:lines].each do |line_num|
      .line{:class => "line70-#{line_num}"}
