#wrapper
  .navigation
    = link_to "home", root_path
    %span.sep -
    = link_to "#{@from} line", line_path(@from)
  %a.favorite{href: "#", class: @favorited ? "favorited" : ""}
    .text
      favorite#{@favorited ? "d" : ""}
    .icon
  %h1= @stop_name
  .lines
    - @lines.each do |line_num|
      .line{:class => "line70-#{line_num}"}

  %h2 UPTOWN
  %table.direction
    %tr
      %td.line
        .line40-6
      %td.destination Pelham Bay Park
      %td.time 3min
    %tr
      %td.line
        .line40-6
      %td.destination Eastchester<br>Dyer Ave.
      %td.time 4min
    %tr
      %td.line
        .line40-6x
      %td.destination Pelham Bay Park
      %td.time 3min
  %h2.downtown DOWNTOWN
  %table.direction
    %tr
      %td.line
        .line40-6
      %td.destination Pelham Bay Park
      %td.time.arriving 0min
    %tr
      %td.line
        .line40-6
      %td.destination Eastchester<br>Dyer Ave.
      %td.time 4min
    %tr
      %td.line
        .line40-6x
      %td.destination Pelham Bay Park
      %td.time 3min
